* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --v-dark-violet: hsl(270, 9%, 17%);
  --d-grayish-violet: hsl(273, 4%, 51%);
  --v-light-gray: hsl(0, 0%, 98%);
  --karla: 'Karla', sans-serif;
  --dm-serif: 'DM Serif Display', serif;
}


.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

section {
  padding: 3em 0;
}

ul {
  list-style-type: none;
}

ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--karla);
  letter-spacing: .1em;
}

.nav__list, 
.footer__social {
  display: flex;
}

/* navigation */

nav {
  //height: 12vh;
  
}

nav .container {
  justify-content: space-between;
}

.nav__logo {
  align-self: center;
 }

.nav__list {
  color: var(--d-grayish-violet);
  align-items: center;
  padding: 1em 0;
}

.nav__list li {
  padding: .5em 1.4em;
  margin-left: .5em;
}



.nav__list li:last-of-type {
  border: 3px solid var(--dark-violet);
  color: var(--dark-violet);
}

/* hero  */ 
.hero {
  background-color: var(--dark-violet);
  padding: 2em 0;
  color: white;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
}

.hero__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

.hero__image {
  max-height: 100%;
  border: 2px solid cyan;
  transform: translateY(20%);
 
}

.hero__image img {
  height: 500px;
}

/* about */ 

.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3em 0;
}

.about__header-container {
  width: 100%;
}

.about__header {
  font-size: 3.5rem;
}

.about__header {
  //border: 2px solid pink;
  display: block;
}

.about__card {
  //border: 2px solid yellow;
  width: 30%;
  padding: 1.5em 1em 1.5em 0;
}

/* more */

.more .container {
  background-color: var(--dark-violet);
  background-image: url(images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  color: white;
  padding: 2.5em 4em;
  display: flex;
  border: 2px solid salmon;
  justify-content: space-between;
}

.btn {
  all: initial;
  color: white;
  border: 3px solid white;
  font-family: var(--karla);
  letter-spacing: .1em;
  height: 3em;
  padding: 0 1.2em;
  align-self: center;
  justify-self: flex-start;
}

.more__header {
  font-size: 2.8rem;
}



.footer__about li:first-of-type, 
.footer__help li:first-of-type, 
.footer__other li:first-of-type {
  color: var(--d-grayish-violet)
}