* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --hover-blue: hsl(224, 80%, 68%);
}

/* button */
.btn {
  background: var(--bright-blue);
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  height: 2.5em;
  width: 12em;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--hover-blue);
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 90%;
}

/* navigation */

nav {
  padding: 2em 0;
}

nav .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.nav__list li {
  margin-right: 1em;
}

.nav__list {
  color: var(--dark-blue);
}

@media (max-width: 800px) {
  .nav__logo {
    width: 25%;
  }
}

/* input */

input {
  height: 2.8em;
  padding: 0.7em;
  color: var(--light-gray);
  border: 1px solid var(--dark-blue);
}

.input:valid {
  border: 1px solid green;
}

.access__input {
  width: 75%;
}

small {
  margin-top: 0.2em;
  margin-bottom: 0.7em;
  height: 1.2em;
  color: white;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* sections */

.files,
.productive {
  min-height: 60vh;
  padding: 5em 0;
}

.productive {
  position: relative;
  background-color: var(--light-blue);
  //overflow-x: hidden;
}

.productive::before {
  content: '';
  position: absolute;
  top: -10%;
  right: 0;
  background-image: url('./images/bg-curve-desktop.svg');
  background-repeat: no-repeat;
  height: 200px;
  z-index: -10;
  width: 100%;
}

.body {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
}

.files__image,
.productive__image {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

.files__body-text,
.productive__body-text:not(.productive__body-text:nth-of-type(2)) {
  margin: 1.5em 0;
}

.files .contact {
  width: 90%;
}

.files__image img {
  height: 90%;
}

.productive__image img {
  height: 75%;
}

.files__input {
  width: 70%;
  margin-right: 1em;
  height: 50px;
}

.files .btn {
  height: 50px;
}

.files__body-header,
.productive__body-header {
  font-size: 2.5rem;
}

.productive__body-text {
  padding-right: 4em;
}

.productive__body-link a {
  color: var(--moderate-cyan);
  text-decoration: none;
  position: absolute;
}

.productive__body-link a:after {
  width: 100%;
  content: "";
  background: var(--moderate-cyan);
  position: absolute;
  top: 1.5em;
  height: 1px;
  left: 0;
}

.productive__body-link img {
  transform: translateY(20%);
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.7em;
}

.productive__testimony {
  border: 1px solid var(--light-gray);
  -webkit-box-shadow: 0 3px 15px var(--light-gray);
  box-shadow: 0 3px 15px var(--light-gray);
  padding: 1.5em;
  width: min(350px, 90%);
  line-height: 1.5em;
  margin-top: 2em;
  background-color: white;
}

.productive__testimony-footer img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 0.5em;
}

.productive__body-link {
  height: 40px;
  width: 100%;
  margin-top: 1.5em;
}

.productive__body-link a:hover {
  color: var(--hover-blue);
}

@media (max-width: 900px) {
  .files .container,
  .productive .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .files {
    padding-bottom: 0;
  }

  .files__body-header {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 2em;
  }

  .productive__body-header {
    font-size: 1.1rem;
    margin-top: 4em;
    text-align: center;
  }


  .productive__body-link {
    display: flex;
    justify-content: center;
  }

  .productive__body-text {
    padding: 0;
  }

  .files__image img,
  .productive__image img {
    height: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .body {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .files__input {
    width: 100%;
    margin: 0 0 1em 0;
  }

  .files .contact {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .files__body-text {
    text-align: center;
  }

  .files .btn {
    width: 100%;
  }

  .productive__testimony {
    margin: 0 auto;
  }
}

/* access */

.access {
  padding: 4em 0;
  background-color: var(--desaturated-blue);
  color: white;
}

.access .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.access__body,
.access__contact {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em 0;
}

.access__body-header {
  margin-bottom: 1em;
}

@media (max-width: 900px) {
  .access .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .access__body,
  .access__contact {
    width: 100%;
    text-align: center;
  }

  .access__btn {
    width: 75%;
  }

  .contact {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .container {
    width: 93%;
  }
}

/* footer */

footer {
  background-color: var(--dark-blue);
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative;
  padding: 9em 0 3.5em 0;
}

.footer .container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

footer ul {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 1em 0;
}

footer li {
  margin-bottom: 0.7em;
}

.footer__icon {
  position: absolute;
  top: 4em;
}

.footer__contacts-list li:nth-of-type(1) {
  list-style-image: url(images/icon-phone.svg);
}

.footer__contacts-list li:nth-of-type(2) {
  list-style-image: url(images/icon-email.svg);
}

.footer__links-list-left,
.footer__links-list-right,
.footer__contacts-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__contacts-list {
  padding-left: 2em;
}

.footer__social-list li {
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1em;
}

.footer__social-list li:hover {
  color: var(--hover-blue);
  border-color: var(--hover-blue);
}

@media (max-width: 600px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  footer {
    padding-bottom: 1em;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .access .container {
    width: 60%;
  }
  .files__image,
  .productive__image {
    height: 40%;
  }

  .files__image img,
  .productive__image img {
    width: 50%;
  }

  .files .contact {
    width: 80%;
  }

  .files .container,
  .productive .container {
    width: 70%;
  }

  .files,
  .productive {
    padding: 0 0 2em 0;
  }
}
