* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

:root {
  --pale-cyan: hsl(193, 100%, 96%);
  --pink: hsl(322, 100%, 66%);
  --dark-cyan: hsl(192, 100%, 9%);
  --blue: hsl(208, 11%, 55%);
  --shadow: rgba(220, 221, 225, 0.5);
}

/* hero */
.hero {
  min-height: 90vh;
  background-image: url("images/bg-hero-desktop.svg");
  background-color: var(--pale-cyan);
  background-size: cover;
}

.hero__container {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__top {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
}

.btn {
  all: initial;
  font-family: "Open Sans";
  border-radius: 100vh;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
}

.btn-pink {
  background: var(--pink);
  padding: 1em 3em;
  color: white;
  width: 200px;
}

.btn-white {
  color: black;
  background: white;
  width: 200px;
  height: 50px;
  border: 1px solid var(--shadow);
  -webkit-box-shadow: 0 3px 15px var(--shadow);
          box-shadow: 0 3px 15px var(--shadow);
  margin: 2em;
}

.hero__icon {
  color: var(--pink);
}

.hero__body {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3em;
  width: 50%;
}

.hero__body p {
  margin: 1.5em 0;
}

.hero__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center center;
  width: 50%;
}

.hero__img img {
  height: 500px;
}

.reveal {
  transition: all .5s ease-in;
}

.hidden {
  transform: translateY(40px);
  opacity: 0;
}


@media (max-width: 500px) {
  .btn-white {
    width: 100px;
    font-size: 12px;
    height: 30px;
    margin: 1em;
  }

  .btn-pink {
    margin: 0 auto;
  }

  .hero__icon {
    height: 20px;
    margin: 1em;
  }

  .hero__img img {
    height: 200px;
  }

  .hero__body {
    text-align: center;
    width: 100%;
  }

  .hero__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center center;
    width: 100%;
  }
}

/* about */
.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  width: 90%;
  margin: 2em auto;
  border-radius: 10px;
  border: 2px solid var(--shadow);
  -webkit-box-shadow: 0 3px 15px var(--shadow);
          box-shadow: 0 3px 15px var(--shadow);
  color: var(--dark-cyan);
}

.about__card:nth-of-type(2) .about__card-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about__card:nth-of-type(2) .about__card-body {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about__card img {
  height: 400px;
}

.about__card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center center;
  padding: 2em 4em;
  width: 50%;
}

h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1em;
  font-size: 24px;
}

@media (max-width: 500px) {
  .about__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__card-body {
    width: 100%;
    padding: 1em;
    text-align: center;
  }

  .about__card:nth-of-type(2) .about__card-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .about__card:nth-of-type(2) .about__card-body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .about__card-img {
    margin-top: 1em;
  }

  .about__card img {
    height: 200px;
    margin: 0 auto;
    display: block;
  }
}

/* call to action */

.call-to-action {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgba(220, 221, 225, 0.5);
  -webkit-box-shadow: 0 3px 15px rgba(220, 221, 225, 0.5);
          box-shadow: 0 3px 15px rgba(220, 221, 225, 0.5);
  padding: 3em;
  -webkit-transform: translateY(40%);
      -ms-transform: translateY(40%);
          transform: translateY(40%);
  background-color: #fff;
}

.call-to-action__header {
  margin-bottom: 1.5em;
}

@media (max-width: 500px) {
  .call-to-action {
    width: 90%;
  }

  .btn-pink {
    width: 150px;
    font-size: 0.9em;
  }

  .call-to-action__header {
    font-size: 1.2em;
  }
}

/* footer */

.footer__links {
  border: 2px solid magenta;
}

.footer {
  color: white;
  background-color: var(--dark-cyan);
  padding-top: 14em;
  overflow: hidden;
}

.footer__svg {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-70px);
      -ms-transform: translateY(-70px);
          transform: translateY(-70px);
}

.footer__links-list {
  list-style: none;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 3em;
  width: 30%;
}

.footer__links-list li {
  margin-bottom: 1em;
  cursor: pointer;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.footer__socials i {
  margin-right: 1em;
  font-size: 20px;
  cursor: pointer;
  width: 30%;
}

.footer__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.footer__info-list {
  padding-left: 1.7em;
  width: 30%;
}

.footer__info-list li {
  padding-bottom: 1.7em;
}

.footer__info-list li:nth-of-type(1) {
  list-style-image: url("./images/icon-location.svg");
}

.footer__info-list li:nth-of-type(2) {
  list-style-image: url("./images/icon-phone.svg");
}

.footer__info-list li:nth-of-type(3) {
  list-style-image: url("./images/icon-email.svg");
}

@media (max-width: 500px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }

  .footer__links-list {
    height: 250px;
    width: 100%;
    padding-left: 0;
  }

  .footer__info-list {
    width: 90%;
  }

  .footer__socials {
    padding-bottom: 2.5em;
  }
}